
<div class="container">
  <h1>Chat room</h1>
  <p><%= "ルーム名：#{@room.name}" %></p>

  <input type="text" data-behavior="room_speaker" data-user="<%= current_user.id %>" data-room="<%= @room.id %>">

  <div id="posts">
    <% @chats.each do |chat| %>
      <p><%= chat.message %></p>
    <% end %>
  </div>
</div>
